.Adduser-con{
    background-color:#f8f9fa ;
}.ANUser{
    font-weight: 600 !important;
    font-size: 1.5rem !important;
}
.txtfield{
    border-color: #00a9b1 !important;
}
.Rgroup{
    display: flex ;
}