.getbar {
    width: 100%;
    height: 70px;
    background: #00A9AF;
    top: 0;
    right:2;
    z-index: 999;
    bottom: 50px;
  }
  
  .getbar {
    width: 100%;
    height: 70px;
    background: #00A9AF;
    top: 0;
    right:2;
    z-index: 999;
    bottom: 50px;
  }