.banner{
    height: 8em;
    width: 100%;
}
.repoAccord{
   background-color: #2d9ca2 !important;

}
.recommendations{
    position: relative;
    top: 3em;
    background-color: #E5E5E5;
    /* height: 50em; */
    width: 100%;
}


.pChart{
    position: relative !important;
    bottom: 7em !important;
}

.list li {
    display: flex !important;
    list-style: none;
}
.bGraph{
    position: relative;
    bottom: 3em;
    gap: 2em !important;
    height: 10em !important;
} 
.con{
    display: block;
}
.divider{
    margin-bottom: 1em;
}
.Header{
    position: relative;
    gap: 3em;
    
}
.Header2{
    position: relative;
    left: 20em;
    bottom: 27px;
}
.Header1{
    position: relative;
    justify-content: start;
}

.report-accord{
    position: relative;
    top: 12em;
}
.recommendations{
    position: relative;
    top: 18em;
}
.foot{
    position: relative;
    top: 20em; 
}