.banner{
    height: 8em;
    width: 100%;
}
.repoAccord{
   background-color: #376F76 !important;

}
.recommendations{
    position: relative;
    top: 3em;
    background-color: #E5E5E5;
    /* height: 50em; */
    width: 100%;
}


.pChart{
    position: relative !important;
    bottom: 5em !important;
}

.list li {
    display: flex !important;
    list-style: none;
}
.bGraph{
    position: relative;
    bottom: 10em;
    gap: 2em !important;
    height: 10em !important;
} 