.Home-con {
  padding: 20px 0;
  box-sizing: border-box;
}

.heroIMG{
  /* max-width: relative !important; */
  width: 90%;
  height: auto;
  vertical-align: middle;
}
.hometext h1 {
  font-family: 'Roboto', Black 900;
    /* font-size: 70px 1px; */
  font-weight: bold !important;
  font-size: 4rem !important;
  color: #0f1f3d;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1;
}
.hometext h2 {
  font-family: 'Roboto', Black 900;
  color: #0f1f3d;
}

.homepara p{
  padding: 8px 8px;
  color: #0f1f3d;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;

}

.BtnTake{
  background-color: #00c2cb !important;
  color: #FFFFFF !important;
  border-radius: 50px;
}