
.header {
    width: 100% !important;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #FFFFFF;
   
}

.header-bg {
    background-color: #FFFFFF;
    transition: .5s;
}

.nav-menu {
    display: flex;
    font-weight: 400;
}

.nav-menu li {
    padding: 0 1rem;
}

.nav-menu a {
    /* color: var(--heading-color); */
    font-size: 20px;
    font-weight: 500;
    text-decoration: none !important;
    text-transform: none !important;
}

.hamburger {
    display: none;
}

@media screen and (max-width:1000px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        background: #1c183dcc;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        padding: 1rem 0;
    }

    .nav-menu a {
        font-size: 3rem;
    }
}
.BtnRegister{
    position: relative;
    color: #5F9EA0 !important;
    background-color: #FFFFFF !important;
    border-color: #5F9EA0!important;
    border-style: solid 3px;
    position: relative;
    top: 9px;
    text-decoration: none !important;
    text-transform: none !important;
}