/* /* .footer {
	width: 100%;
	padding: 6rem 0;
	background: #4b4586;;
  }
  
  .footer-container {
	max-width: 1140px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
  }
  
  .footer .left {
	height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
  }
  
  .footer .right {
	height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: auto;
  }
  
  .footer h4 {
	font-size: 1.4rem;
	padding: 1rem 0;
	color: #ffffff;
	
  }
  
  .footer p {
	font-size: 1.2rem;
	padding: 1rem 0;
	color: #ffffff;
  }
  
  .footer .location {
	display: flex;
	align-items: center;
  }
  
  .footer .location p {
	padding-bottom: .5rem;
	color: #ffffff;
  }
  
  .footer .location h4 {
	padding-top: 0;
	color: #ffffff;
  }
  
  @media screen and (max-width:640px) {
	.footer-container {
		grid-template-columns: 1fr;
	}
  
	.right .social {
		margin: auto;
	}
  } */
  
  
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background: #ffffff;
    padding: 27px 0;
}
.footer-col{
   width: 25%;
   position: relative;
   left: 15em;
   /* padding: 0 15px; */
}
.footer-col h4{
	font-size: 18px;
	color: #0c0c0c;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #00deea;
	padding-left: 8px;
}
/* .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	 background-color: rgba(255, 255, 255, 0.2); 
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
} */

.footer-cols .social-links a{
	color: #00deea;
}

.footer-col a:hover{
	color: #00deea;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.social-links{
	position: relative;
	left: 32em;
}

.iconHeader{
	position: relative;
	left: 33em;
}

.footerL{
	height: 100px;
	width: 150px;
}
.useful{
	position: relative;
    bottom: 107px;
}