.adminCon{
    position: relative;
    left: 12em;
    bottom: 49em;
    background-color: #f8f9fa;
}
.ForwardRef-root-1 {
    height: 29px !important;
    width: 10em !important;
    left: 10px !important;
    
}

.adminTop{
    height: 6em;
    width: 100% !important;
    background: #00a9b1;
    border-radius: 2px;
    margin-top: 1.5rem!important;
    margin-top: 1.5rem!important;
    color: white !important;
    font-weight: bold;
    
}

.end{
    position: relative;
    left: 20em;
    list-style: none;
    color:#FFFFFF ;
}

.Assesments{
    display: flex;
    gap: 1em;
    padding-top: 3em;
}
.comAsses{
    width: 15em;
    height: 10em;
    background-color: floralwhite;
}

.inComAsses{
    width: 15em;
    height: 10em;
    background-color: floralwhite;
}

.totAsses{
    width: 15em;
    height: 10em;
    background-color: floralwhite;
}
.totUsers{
    width: 15em;
    height: 10em;
    background-color: floralwhite; 
}

.num{
    font-size: xxx-large !important;
    color: aqua !important;
    font-weight: bolder !important;
}
.bars{
    display: flex;
    gap: 2em;
}
.bar1{
    width: 30em;
    height: 20em;
    background-color: floralwhite;  
}
.bar2{
    width: 20em;
    height: 20em;
    background-color: floralwhite;  
}
.new{
    width: 20em;
    height: 20em;
    background-color: floralwhite;  
}
.proftxt{
    font-size: x-large !important;
    font-weight: bolder !important;
}