.adminTops {
    width: 100% !important;
    background: #00a9b1;
    border-radius: 2px;
    color: white !important;
    font-weight: bold;

}

.adminTops .search {
    position: relative;
    width: 36% !important;
    color: white !important;
    left: 16em;
}

.adminTops .end {
    position: relative;
    left: 61em;
    bottom: 2em;
    list-style: none;
    color: #FFFFFF;
}