.companyName{
    position: relative;
    top: 5em;
    display: flex;
    gap: 5em;
}
.comName{
    position: relative;
    bottom: 10px;
    left: 15em;
}
.companyLogo{
    position: relative;
    top: 6em;
    display: flex;
    gap: 5em;
}
.uplaodBtn{
    position: relative;
    left: 20.6em;
    bottom: 11px;

}
.comLogo{
    position: relative;
    left: 23em !important;
    background-color: aqua;
}
.registered{
    position: relative;
    top: 7em;
    display: flex !important;
    /* gap: 1em; */
}
.Radio{
    position: relative;
    top: 10px;
}
.sort{
    position: relative;
    top: 8em;
}
.companyLocation{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.annualTurnover{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.turnover{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.Products{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.companyIn{
    position: relative;
    top: 7em;
    display: flex;
}
.comin{
    position: relative;
    left: 24.3em;
    bottom: 1em;
}
.btnProfSave{
    color: #2d9ca2 !important;
    border-color: #2d9ca2 !important; 
}
.footProf{
    position: relative;
    top: 8em;
}
.regRes{
    display: flex;
    position: relative;
    left: 28em;
    bottom: 25px;
}