.companyName{
    position: relative;
    top: 5em;
    display: flex;
    gap: 5em;
}
.comName{
    position: relative;
    bottom: 10px;
}
.companyLogo{
    position: relative;
    top: 6em;
    display: flex;
    gap: 5em;
}
.comLogo{
    position: relative;
    left: 5em;
}
.registered{
    position: relative;
    top: 7em;
    display: flex !important;
    /* gap: 1em; */
}
.Radio{
    position: relative;
    top: 10px;
}
.sort{
    position: relative;
    top: 8em;
}
.companyLocation{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.annualTurnover{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.turnover{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.Products{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.companyIn{
    position: relative;
    top: 7em;
    display: flex;
}
.comin{
    position: relative;
    left: 9.5em;
    bottom: 1em;
}
.btnProfSave{
    color: aqua !important;
    border-color: aqua !important; 
}
.footProf{
    position: relative;
    top: 8em;
}