.MuiAccordionSummary-root{
    background-color: #F0F8FF !important;
}
.cusSegmant-con{
    display: block;
}
.radio1{
    display: flex;
}
.radio2{
    display: flex;
}
.rev{
    display: block;
}
.MuiAlert-filledInfo{
    position: relative !important;
    top: 1em !important;
}
.sell{
    position: relative;
    justify-items: center;
    top: 3em;
}
.biz{
    position: relative;
    top: 1em;
}
.companyBox{
    position: relative;
    top: 2em;
    background-color: #dcdcdc;
    height: 10em;
}
.company{
    position: relative;
    top: 11px;
    left: 18px;
    border-radius: 50%;
    width: 8em;
    height: 8em;
}
.profAdd{
    color: #5F9EA0!important;
    border-color: #5F9EA0 !important; 
    border-style: dashed !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    position: relative;
    top: 1em;
}
.sideAccord{
    position: relative;
    top: 4em;
    right: 4em;
}
.sideAccord2{
    position: relative;
    top: 6em;
    right: 4em;
}

.sideAccord3{
    position: relative;
    top: 8em;
    right: 4em;
}
.AssesButtons{
    position: relative;
    top: 1em !important;
    display: flex;
    gap: 1em;
}
.bassicAccords{
    position: relative;
    top: 3em;
    
}
.companyInf{
    position: relative;
    bottom: 7em;
    left: 11em;
}
.indust{
    position: relative;
    top: 1.5em;
}
.phase{
    position: relative;
    top: 3em;
}
.numEmployees{
    position: relative;
    left: 13em;
    bottom: 1em;
}
.questionare{
    position: relative;
    top: 2.5em;
}
.footD{
    position: relative;
    top: 7em !important;
}
.rad{
    position: relative;
    display: flex !important;
}
.AssesSave{
    color: #5F9EA0 !important;
    background-color: #FFFFFF !important;
    border-color: #5F9EA0!important;
    text-decoration: none !important;
}
.AssesBack{
    color: #5F9EA0 !important;
    background-color: #FFFFFF !important;
    border-color: #5F9EA0!important;
    text-decoration: none !important;
}
.footCus{
    position: relative;
    top: 4em;
}
.footAs{
    position: relative;
    top: 4em;
}
.AssesButtons1{
    position: relative;
    top: 5em !important;
    display: flex;
    gap: 1em;
}
.asRes{
    display: flex;
}